# For URL fields, start with protocol, and do not end the URL with a trailing slash. 
# E.G. http://google.com is valid, http://google.com/ and google.com are not.
MINI=false
PLUGIN_DIR=
VERSION=
STAGE=
LASTUPDATE=
LUFORMAT=d/m/Y # http://php.net/manual/en/function.date.php d/m/Y is DD/MM/YYYY
SITE_BROADCAST=false # Shows site list on a call to index.php?c=1
SITE_EXT= # Main URL to a primary site using this plugin
SITE_TOTAL=3
SITE_1_NAME=Dev
SITE_1_URL=
SITE_2_NAME=UAT
SITE_2_URL=
SITE_3_NAME=Live
SITE_3_URL=
SITE_FOLLOW_URL=false